{% extends "base.html" %}
{% block title %}Departamentos{% endblock %}
{% block page_title %}Departamentos{% endblock %}
{% block page_actions %}
{% if can_add %}<a href="{% url 'web:rh-departamento-create' %}" class="btn-primary">+ Novo Departamento</a>{% endif %}
{% endblock %}
{% block content %}
<div class="card mb-4">
  <div class="flex flex-wrap gap-3 items-end">
    <div class="flex-1 min-w-[200px]">
      <label class="label">Buscar</label>
      <input type="text" name="q" placeholder="Nome do departamento..." class="input"
             hx-get="{% url 'web:rh-departamentos' %}" hx-target="#table" hx-trigger="input changed delay:300ms"
             hx-push-url="true">
    </div>
  </div>
</div>
<div class="card" id="table">{% include "rh/departamentos/_table.html" %}</div>
{% endblock %}
